.grid {
	border-radius: 8px;
	height: 500px;
	width: 500px;
	margin: 40px auto 20px auto;

	/*grid*/
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

img {
	width: 99%;
	height: 99%;
}

.container { 
    position: relative; 
}

.container > div { 
    position: absolute; 
}

/* LAYERS */

.layerOne {
	display: none;
}

#box-five-l1 {
	display: flex;
	justify-content: center;
	align-items: center;
}

@keyframes colorchange {
	0% {color: white;}
	70% {color: black;}
	100% {color: white;}
}

#hello {
	animation: colorchange 2s;
	font-size: 20px;
}

.layerTwo {
	display: none;
}

#img-1, #img-2, #img-3, #img-4, #img-5, #img-6, #img-7, #img-8, #img-9{
	display: none;
}

.layerThree {
	display: none;
}

#imgB1, #imgB2, #imgB3, #imgB4, #imgB5, #imgB6, #imgB7, #imgB8, #imgB9 {
	display: none;
}

.layerFour {
	display: none;
}

.layerFive {
	display: none;
}

#jump1, #jump2, #jump3, #jump4, #jump5, #jump6, #jump7, #jump8, #jump9 {
	display: none;
}
/* footer */
#contact {
	display: none;
}

/* media query */

@media screen and (max-width: 575px){

	.grid {
		margin-top: 30px;
		height: 85vw;
		width: 85vw;
	}

	.footer {
		width: 85vw;
		grid-template-columns: 1fr;
		grid-template-rows: auto;
		grid-template-areas: 
			"elena"
			"syko"
			"github";
	}

	.btn {
		width: 65vw;
	}

}
